.nav 	{ display: none; }
.main 	{ padding-top: 0px !important; }

.container .controlbar_mobile .favorite,
.container .controlbar_mobile .share,
.container .newsbox .favorite			{ display: block !important; }


.container .search-mobile				{ display: block !important; }